body {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(11, 137, 149));
       /*used https://gradients.shecodes.io/gradients/3 for refrence */
    margin: 0%;
    padding: 0%;
    
}